//MOBILE FIRST!!!! 



$primarycolor: #F5B8B8;

@media screen and (max-width: 768px) {

.game__background {

    background-color: $primarycolor;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.game__bottomscreen-test {

    margin-top: 500px;
}





}

//WIDER THAN MOBILE


@media screen and (min-width:769px) {
    .game__background {

        background-color: $primarycolor;
    }
}
